<div class="card">
    <div class="card-body">
        <h1 style="text-align: center;">{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <small>Categoria: {{postagem.categoria.nome}}</small><br>
        <hr>
        <h3>{{postagem.descricao}}</h3>
        <p>{{postagem.conteudo}}</p>
        <br>
    </div>
</div>