<h2>Lista de postagens:</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <small>{{data}}</small><br>
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p><br>
            <small>{{categoria.nome}}</small><br>
            <div style="display: flex; flex-direction:row;">
                <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar postagem</button></a>
                <form action="/admin/postagens/delete" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger mt-3">Deletar postagem</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <hr>
    <h3 class="mt-4">Nenhuma postagem realizada</h3>
{{/each}}